@import '~@angular/material/theming';
@include mat-core();

$my-theme-primary : mat-palette($mat-red);
$my-theme-accent :  mat-palette($mat-red, A200, A100, A400);
$my-theme-warn:    mat-palette($mat-yellow);

$my-theme: mat-light-theme($my-theme-primary,$my-theme-accent,$my-theme-warn);

//injects the new theme in the default one and overrides it
@include angular-material-theme($my-theme);
